<li>
    {{burger_name}}
    <button class="changeEat" data-id="{{id}}" data-neweat= "0" disabled={{isCancelled}}>
        {{#if devoured}} Already Devoured {{else}} Devour!{{/if}}
    </button>
</li>